<template>
	<div>
		<!-- HEADER PRINCIPAL -->
		<app-header></app-header>
		<!-- TERMINA HEADER PRINCIPAL -->

		<!-- VISTAS DE LA APLICACION -->
		<router-view></router-view>
		<!-- TERMINAN VISTAS DE LA APLICACION -->

		<!-- FOOTER DE LA APLICACION -->
		<app-footer></app-footer>
		<!-- TERMINA FOOTER DE LA APLICACION -->
	</div>
</template>
<script>
	
	import AppHeader from './components/AppHeader.vue';
	import AppFooter from './components/AppFooter.vue';

	export default {
		components: {AppHeader, AppFooter}
	}
</script>