// Body
$body-bg: #e3e3e3;
$body-color: #3D3D3D;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #FFFF05;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #3D3D3D;
$success: #0029FA;
$primary: #8D07F6;
$secondary: #A6ABAB;

// Modal
$modal-backdrop-bg: $dark;