// Variables
@import 'variables';

.app_header{
	height: 145px;
	border-top: 5px solid $primary;
	nav{
		a{
			display: inline-block;
			margin-left: 1.5rem;
			font-size: 1.15rem;
			color: $body-color;
			position: relative;

			&.router-link-exact-active{
				color: $primary;
				&:before{
					content: '';
					position: absolute;
					top: calc(100% + 5px);
					height: 3px;
					background: $primary;
					width: 100%;
				}
			}

			&:hover{
				color: $primary
			}
		}
	}
}
label{
	font-weight: 600;
	color: $primary;
}
a{
	text-decoration: none !important;
}

.btn{
	text-transform: uppercase;
	&.btn-lg{
		padding: 1rem 2rem;
		font-size: 1rem;
		letter-spacing: .03rem;
		font-weight: 600;
		@media screen and(max-width: 576px){
			font-size: .8rem;
			letter-spacing: 0.05rem;
		}
	}
}

.home_cover{
	height: 430px;
	@media screen and (max-width: 576px){
		height: auto;
		padding: 0 0 4rem 0;
	}
}

.app_footer{
	background: linear-gradient(90deg, darken($primary, 25%), darken($primary, 1%));
	border-bottom: 5px solid $yellow;
}

.display-4{
	font-size: 2.5rem;
	line-height: 3.5rem;
	
	@media screen and (max-width: 576px){
		font-size: 1.85rem;
		line-height: 2.5rem;
	}

}


:focus {outline:none;}
::-moz-focus-inner {border:0;}