.app_header {
  height: 145px;
  border-top: 5px solid #8D07F6;
}

.app_header nav a {
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1.15rem;
  color: #3D3D3D;
  position: relative;
}

.app_header nav a.router-link-exact-active {
  color: #8D07F6;
}

.app_header nav a.router-link-exact-active:before {
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  height: 3px;
  background: #8D07F6;
  width: 100%;
}

.app_header nav a:hover {
  color: #8D07F6;
}

label {
  font-weight: 600;
  color: #8D07F6;
}

a {
  text-decoration: none !important;
}

.btn {
  text-transform: uppercase;
}

.btn.btn-lg {
  padding: 1rem 2rem;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .btn.btn-lg {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
  }
}

.home_cover {
  height: 430px;
}

@media screen and (max-width: 576px) {
  .home_cover {
    height: auto;
    padding: 0 0 4rem 0;
  }
}

.app_footer {
  background: linear-gradient(90deg, #46037a, #8a07f1);
  border-bottom: 5px solid #FFFF05;
}

.display-4 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

@media screen and (max-width: 576px) {
  .display-4 {
    font-size: 1.85rem;
    line-height: 2.5rem;
  }
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

