<template>
	<div>
		<!-- COVER PRINCIPAL -->
		<home-cover></home-cover>
		<!-- TERMINA EL COVER PRINCIPAL -->
	
		<!-- BREVE DESCRIPCION SOBRE LOS TRABAJOS QUE HAGO -->
		<short-description-about-me></short-description-about-me>
		<!-- TERMINA BREVE DESCRIPCION SOBRE LOS TRABAJOS QUE HAGO -->

		<!-- DESCRIPCION DE SERVICIOS -->
		<short-services-description></short-services-description>
		<!-- TERMINA DESCRIPCION DE SERVICIOS -->

	</div>
</template>
<script>
	
	import HomeCover from '../components/HomeCover';
	import ShortDescriptionAboutMe from '../components/ShortDescriptionAboutMe';
	import ShortServicesDescription from '../components/ShortServicesDescription';

	export default {
		components: {HomeCover, ShortDescriptionAboutMe, ShortServicesDescription}
	}
</script>