<template>
	<footer class="py-5 app_footer">
		<div class="container py-4">
			<div class="row mb-5">
				<div class="col-sm-5 text-center text-sm-left">
					<h2 class="text-white text-uppercase mb-3">Jonathan Velazquez</h2>
					<p class="lead text-warning mb-5">Diseñador y Desarrollador Web / <i>Freelance</i></p>

					<social-media-icons class="d-none d-sm-flex align-items-center"></social-media-icons>
					
					<footer-credits class="d-none d-sm-block"></footer-credits>
							
				</div>

				<div class="col-sm-6 ml-auto">
					<div class="card shadow">
						<div class="card-body">
							<h3 class="mb-4">¿Tienes dudas ó preguntas?</h3>
							<p class="text-muted mb-4">No dudes en escribirme <b>(incluso si es solo para saludar)</b> y con gusto te responderé en la brevedad posible.</p>

							<form action="">
								<div class="form-group">
									<label for="">¿Cual es tu nombre?</label>
									<input type="text" class="form-control" placeholder="Nombre completo">
								</div>
								<div class="form-group">
									<label for="">¿Cual es tu correo electrónico?</label>
									<input type="text" class="form-control" placeholder="E-mail">
								</div>
								<div class="form-group">
									<label for="">¡Muy bien!, Ahora solo escribe tu mensaje y haz click en <i>enviar mensaje</i></label>
									<textarea name="" class="form-control" rows="3" style="resize:none" placeholder="Escribe aquí..."></textarea>
								</div>
								<button class="btn btn-lg btn-primary mt-4 btn-block">
									<i class="fa fa-paper-plane fa-lg text-warning mr-3"></i>
									Enviar mensaje
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<social-media-icons class="d-flex d-sm-none align-items-center" :center="true"></social-media-icons>
			<footer-credits class="d-block d-sm-none text-center"></footer-credits>
		</div>
	</footer>
</template>
<script>
		
	import SocialMediaIcons from './SocialMediaIcons';
	import FooterCredits from './FooterCredits';

	export default {
		components: {SocialMediaIcons, FooterCredits}
	}
</script>