<template>
	<header class="app_header d-flex align-items-center bg-white">
		<div class="container d-block d-sm-flex align-items-center">
			<router-link :to="{name: 'home'}">
				<h3 class="text-uppercase m-0 text-center text-sm-left text-dark">Jonathan Velazquez</h3>
			</router-link>
			<nav class="d-none d-sm-block ml-auto">
				<router-link :to="{name: 'home'}">Inicio</router-link>
				<router-link :to="{name: 'about-me'}">Acerca de mí</router-link>
				<a href="#">Servicios</a>
				<a href="#">Contacto</a>
				<a href="#">Ingresar</a>
			</nav>
		</div>
	</header>
</template>
<script>
	export default {
	}
</script>