<template>
	<div>
		<p class="m-0 text-white">©2020, Desarollado con la idea de mejorar la web.</p>
		<nav class="d-block d-sm-flex align-items-center ml-auto mt-3">
			<a href="#" class="d-block d-sm-inline-block text-warning mr-0 mb-2 mb-sm-0 mr-sm-4">Términos y Condiciones</a>
			<a href="#" class="d-block d-sm-inline-block text-warning">Contactar por correo electrónico</a>
		</nav>
	</div>
</template>
<script>
	export default {
	}
</script>