<template>
	<section class="bg-white home_cover d-flex align-items-center shadow-sm">
		<div class="container">
			<div class="row d-block d-sm-flex align-items-center">
				<div class="col-sm-6 text-center text-sm-left mb-5 mb-sm-0">
					<h1 class="display-4 text-uppercase mb-4 mb-sm-4">LA WEB CON TODAS LAS CARACTERISTICAS DE TU EMPRESA.</h1>
					<p class="lead text-primary">Diseño y desarrollo de aplicaciones web a la medida.</p>
					<quote-btn></quote-btn>
				</div>
				<div class="col-sm-6">
					<img src="/img/undraw_progressive_app_m9ms.svg" class="img-fluid mt-4 mt-sm-0" alt="">
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	
	import QuoteBtn from './QuoteBtn';

	export default {
		components: {QuoteBtn}
	}
</script>