<template>
	<div>
		<a href="#quoteForm" data-toggle="modal" class="btn btn-lg btn-primary mt-4">
			<i class="fa fa-file-invoice mr-2 fa-lg text-warning"></i>
			Cotizar un proyecto
		</a>
		<modal id="quoteForm" title="Cuentame sobre tu proyecto" size="modal-xl">
			<template>
				<div class="row d-flex align-items-center">
					<div class="col-sm-6">
						<form action="" class="p-4">
							<div class="form-group">
								<label for="">Por favor selecciona el tipo de proyecto que deseas.</label>
								<select name="" id="" class="custom-select">
									<option disabled selected value="">Selecciona una opción</option>
									<option value="">Aplicacion Web</option>
									<option value="">REST API</option>
									<option value="">UI/UX Design</option>
									<option value="">Página Web</option>
								</select>
							</div>

							<div class="form-group">
								<label for="">¿En que tiempo necesitas listo tu proyecto?</label>
								<select name="" id="" class="custom-select">
									<option value="">Selecciona una opción</option>
									<option value="">2 a 3 Semanas</option>
									<option value="">1 més</option>
									<option value="">2 meses</option>
									<option value="">Más de 2 meses</option>
								</select>
							</div>
						
							<div class="form-group">
								<label for="">¿Cual es tu presupuesto? (Todos los proyectos inician en $700 dls)</label>
								<select name="" id="" class="custom-select">
									<option value="">Selecciona una opción</option>
									<option value="">$700 a $1000 dls</option>
									<option value="">$1000 a $2000 dls</option>
									<option value="">$2000 a $5000 dls</option>
									<option value="">$5000 a $10000 dls</option>
								</select>
							</div>

							<div class="form-group">
								<label for="">Por favor escribe algunos detalles sobre tu proyecto</label>
								<textarea name="" id="" rows="4" class="form-control" placeholder="Escribe aquí..."></textarea>
							</div>

							<button class="btn btn-primary btn-lg mt-4">
								<i class="fa fa-check fa-lg mr-2 text-warning"></i>
								Solicitar cotización
							</button>
						</form>
					</div>
					<div class="col-sm-4 mx-auto text-center">
						<img src="/img/undraw_coding_6mjf.svg" class="img-fluid" alt="">
					</div>
				</div>
			</template>
		</modal>
	</div>
</template>
<script>
	
	import Modal from './Modal';

	export default {
		components: {Modal}
	}
</script>