<template>
	<section class="py-5">
		<div class="container">
			<div class="card shadow-sm">
				<div class="card-body d-block d-sm-flex align-items-start p-5 text-center text-sm-left">
					<div class="mr-0 mb-5 mb-sm-0 mr-sm-5">
						<h2 class="mb-4">¿Como trabajo?</h2>
						<p class="lead mb-4">
							Definitivamente la web debe verse y funcionar perfectamente, es por eso que, cada producto web que realizo junto con mis clientes esta construido con las tecnologias mas modernas para ofrecer una funcionalidad y visibilidad correcta en la mayoria de dispositivos.
						</p>
						<a href="#">
							<i class="fa fa-angle-right fa-sm mr-2"></i>
							Continuar leyendo
						</a>
					</div>
					<div class="ml-auto text-center">
						<h4 class="mb-4">Tecnologías:</h4>
						<div class="d-flex align-items-center justify-content-center">
							<i class="fab fa-laravel fa-3x text-primary" title="Laravel Framework"></i>
							<i class="fab fa-vuejs fa-3x ml-4 text-primary" title="Vue.js Framework"></i>
							<i class="fab fa-sass fa-3x ml-4 text-primary" title="SASS"></i>
							<i class="fab fa-bootstrap fa-3x ml-4 text-primary" title="Bootstrap Framework"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
	}
</script>