<template>
	<section class="bg-light py-5">
		<div class="container py-4">
			<div class="row text-center">
				<div class="col-sm-4 mb-5 mb-sm-0">
					<div class="px-3">
						<i class="fa fa-3x fa-laptop-code text-primary mb-3"></i>
						<h3 class="my-4">Aplicaciones web</h3>
						<p class="lead text-black-50 mb-4">
							Automatiza los procesos más importantes de tu empresa y manten tu información estable y segura con aplicaciones web a la medida de tu negocio.
						</p>
						<a href="#">
							<i class="fa fa-angle-right fa-sm mr-2"></i>
							Leer más
						</a>
					</div>
				</div>
				<div class="col-sm-4 mb-5 mb-sm-0">
					<div class="px-3">
						<i class="fa fa-3x fa-cogs text-primary mb-3"></i>
						<h3 class="my-4">REST API</h3>
						<p class="lead text-black-50 mb-4">
							¿Necesitas conectar multiples aplicaciones?, bueno, puedo ayudarte a traves de un API para que puedas realizar un intercambio de datos en formato estandar.
						</p>
						<a href="#">
							<i class="fa fa-angle-right fa-sm mr-2"></i>
							Leer más
						</a>
					</div>
				</div>
				<div class="col-sm-4 mb-5 mb-sm-0">
					<div class="px-3">
						<i class="fa fa-3x fa-mouse-pointer text-primary mb-3"></i>
						<h3 class="my-4">Diseño UI/UX</h3>
						<p class="lead text-black-50 mb-4">
							Ofrece a los usuarios de tus aplicaciones una navegación comoda y atractiva, condúcelos a realizar las operaciones que tu necesitas de forma amigable e intuitiva.
						</p>
						<a href="#">
							<i class="fa fa-angle-right fa-sm mr-2"></i>
							Leer más
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
	}
</script>