<template>
	<div class="mb-5" :class="center == true ? 'justify-content-center' : ''">
		<a href="#" class="text-warning">
			<i class="fab fa-facebook fa-fw fa-2x mr-3"></i>
		</a>
		<a href="#" class="text-warning">
			<i class="fab fa-instagram fa-fw fa-2x"></i>
		</a>
	</div>
</template>
<script>
	export default {
		props: {
			center: {
				type: Boolean
			}
		}
	}
</script>